* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    background-image:url(backgroundimageweather.jpg);
    background-size: cover;
}
.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0.3),rgba(0,0,
    0,0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100;
    max-width: 280px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #F3F7F3;
    border-radius: 16px;
    border-top: 3px solid #832232;
    border-bottom: 3px solid #832232;

    color: #052BA9;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;

}